<%= render partial: "layouts/errors", locals: {object: @client} %>

<%= render 'layouts/main_login_container'%>
    <h4 class="card-title mt-3 text-center">Register</h4>
        <p class="text-center">Get started with your account</p>
            
        <%= form_for :client do %>
            <%= render 'layouts/div_form_group'%>
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                    <input id="client_first_name" name="client[first_name]" class="form-control" placeholder="First name" type="text">
                </div>
            <%= render 'layouts/div_form_group'%>
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                    <input id="client_last_name" name="client[last_name]" class="form-control" placeholder="Last name" type="text">
                </div> 
             <%= render 'layouts/div_form_group'%>
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                    <input id="client_email" name="client[email]" class="form-control" placeholder="Email address" type="email">
                </div>
            <%= render 'layouts/div_form_group'%>
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+1</option>
                    <option value="1">+876</option>
                </select>
                    <input id="client_phone" name="client[phone]" class="form-control" placeholder="Phone number" type="number">
                </div> 
            <%= render 'layouts/div_form_group'%>
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                    <input id="client_password" name="client[password]"class="form-control" placeholder="Create password" type="password">
                </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Register Account  </button>
            </div>    
            <p class="text-center">Have an account? <%= link_to "Login", login_path %></p>                                                                 
            <% end %>
<%= render 'layouts/main_container_footer'%>