
<%= render partial: "layouts/errors", locals: {object: @appointment} %>

        <%= render 'layouts/main_container'%>
            <h2 class="card-title mt-3 text-center">Appointment Details</h2>
            <ul>
                <h4><%= @appointment.treatment.title %></h4>
                <h5><%= @appointment.desired_date.strftime("on %b/%d/%Y") %></h5>
                <h5><%= @appointment.desired_time.strftime("at %I:%M%p") %> </h5>
                <h5><%= @appointment.special_request %></h5> <br>
                <p><%= last_updated @appointment %></p>
                <br><br>
                <h5 class="card-title mt-3 text-center">We are looking forward to servicing you!!!</h5>
            </ul>   
        <%= render 'layouts/main_container_footer'%>

<div class="container mt-3">
    <% if @appointment.client == current_client %>
        <h6>
        <%= link_to "Edit Appointment", edit_appointment_path(@appointment)%> |
        <%= link_to "Delete Appointment", @appointment, method: :delete, data: { confirm: "Are you sure?" } %>
        </h6>
    <% end %>
</div>
