 
  <%= render 'layouts/main_container'%>
    <h2 class="card-title mt-3 text-center">All Reviews</h2>
      <ul>
        <% @reviews.each do |r|%>
          <li><strong><%= r.appointment.treatment.title %></strong><br>
          written by: <%= r.client.first_name %><br>
          "<%= r.comment%>" <br>
          </li>
        <% end %>	
      </ul>
    <br><br>
      <div class="btn btn-light"> 
        <%= link_to "Write a Review »", new_review_path %>
      </div>
  <%= render 'layouts/main_container_footer'%>

            


