 
  <%= render 'layouts/main_container'%>
    <h2 class="card-title mt-3 text-center">All Reviews</h2>
      <ul>
        <% @reviews.each do |r|%>
          <li><h3 style="font-family:Bradley Hand, cursive;"><%= r.appointment.treatment.title %></h3>
            <p style="font-family:Apple Chancery, cursive;">
              <%= r.comment%><br>
              written by: <%= r.client.first_name %>
            </p>
          </li>
        <% end %>	
      </ul>
    <br><br>
      <div class="btn btn-light"> 
        <%= link_to "Write a Review »", new_review_path %>
      </div>
  <%= render 'layouts/main_container_footer'%>

            


