  
<% if @review.appointment %>
  <h3>New Review for <%= @review.appointment.treatment.title%>!</h3>
  <%= render partial: "layouts/errors", locals: {object: @review} %>
<% else %>

<%= render 'layouts/main_container'%>
  <h2 class="card-title mt-3 text-center">New Review</h2>

    <%= render partial: "layouts/errors", locals: {object: @review} %>
    <%= render partial: "form", locals: {review: @review} %>

    <%= render 'layouts/main_container_footer'%>
<% end %>