<!DOCTYPE html>
<html>
  <head>
    <title>TheOasis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="carousel.css" rel="stylesheet">
  </head>
    <body>
      <%= render 'layouts/navigation_bar' %>
    <br><br><br>

        <%= content_tag :div, class:"col-lg-5 col-xl-6" do %>
          <%= render 'layouts/flash_message' %>
        <% end %>

    <%= yield %>

        <br><br>
   
        <%= content_tag :footer, class:footer_class do %>
          <%= render 'layouts/footer' %>
        <% end %>



 

  </body>
</html>
